@import "smart-grid";
@import "variables";

.item {
    display: flex;
    border: 1px solid @border;
    box-shadow: 0 0 7px rgba(12, 8, 0, 0.05);
    background-color: #ffffff;
    border-radius: 5px;
    padding: 8px;
    margin-right: 0;
    margin-bottom: 10px;

    &-img {
        width: 154px;
        height: 210px;
        margin-left: 0;
        border-radius: 5px;
        flex-shrink: 0;
        position: relative;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            box-sizing: border-box;
            padding: 5px;

            img {
                object-fit: contain;
            }

        }


    }

    &-data {
        padding: 7px 0 7px 16px;
        display: flex;
        flex-wrap: wrap;

        &-footer {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: auto 0 0;
            flex-wrap: wrap;

            &_left {
                width: 53%;
                display: flex;
                align-items: center;
                flex-shrink: 0;
            }
            &_right {
                display: flex;
                align-items: center;
                width: 44%;
                margin-left: auto;
            }
        }

        &-price {
            p {
                font-size: 31px;
                font-weight: 500;
            }

            span {
                color: #949494;
                font-size: 12px;
                font-weight: 400;
            }
        }
        &-rating {
            display: inline-flex;
            align-items: center;
            width: 150px;

            span {
                font-size: 37px;
                font-weight: 300;
            }

            &Rate {
                font-size: 36px;
                font-weight: 400;
                line-height: 30px;
            }

            &Stars {
            }
        }

        &_ratings {
            display: block;
            padding-left: 5px;
        }

        &-sellersBtn {
            width: 159px;
            height: 39px;
            background-color: #ffffff;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #d8d7d7;
            color: #474747;
            margin-left: auto;

            span {
                font-size: 15px;
                font-weight: 400;
            }

            &:hover {
                background-color: #ba1628;
                color: #fff;
            }
        }

        &-sellersList {
            margin-left: 20px;
            flex-grow: 1;

            ul {
                li {
                    display: inline-block;
                    margin-right: 5px;

                    > a {
                        display: block;
                        width: 32px;
                        height: 32px;
                        border-radius: 50%;
                        overflow: hidden;
                    }

                }
            }

            > a {
                color: #949494;
                font-size: 12px;
                font-weight: 400;
            }

        }

    }


    &-props {
        display: inline-flex;
        width: 53%;
        flex-direction: column;


        &-winery {
            display: flex;
            font-size: 13px;
            font-weight: 400;
            margin-bottom: 2px;

            a {
                color: #949494;
                display: inline-block;
                margin-right: 6px;
            }
        }

        &-vintage {
            font-size: 17px;
            font-weight: 400;
            display: flex;
            a {
                color: #3e3e3e;
            }
        }

        &-color {
            font-size: 13px;
            font-weight: 400;
            margin: 4px 0px 12px;

            a {
                color: #ba1628;
                text-decoration: underline;

                &:hover {
                    text-decoration: none;
                }
            }
        }

        &-country {
            display: flex;
            align-items: center;
            margin-top: 4px;
            flex-wrap: wrap;

            i {
                width: 15px;
                height: 15px;
                margin-right: 5px;
            }

            a {
                color: @light-text;
                margin-right: 5px;
            }

            &Dot {
                padding-right: 5px;
            }

            &Region {
                white-space: nowrap;
            }
        }
    }



    &-review {
        width: 44%;
        margin-left: auto;

        p {
            font-size: 14px;
            color: @light-text;
            padding-bottom: 5px;
        }

        &_user {
            display: flex;
            align-items: center;

            &Avatar {
                width: 32px;
                height: 32px;
                border-radius: 32px;
                border: 1px solid @border;
                overflow: hidden;
                margin-bottom: -3px;

                img {
                    width: 100%;
                }

            }

            &Rate {
            }

            &Name {
                padding-left: 5px;
                line-height: 8px;
            }
        }


    }

}
