@import "smart-grid";
.reset();
@import "fonts";
@import "variables";

/*common elements*/
@import "_breadcrumbs";

/*components*/
@import "_form";
@import "_filter_main";
@import "_banner_main";
@import "_availability-in-stores";
@import "_catalog";
@import "_catalog-item";
@import "_product";



/*TEMP*/
input[type="checkbox"]#tt {
    display: none;
}

label[for="tt"] {
    position: fixed;
    width: 30px;
    height: 30px;
    background: red;
    top: 300px;
    right: 0;
    z-index: 100000;
}

input[type="checkbox"]#tt:checked + label {
    background: green;
}

/*EOF TEMP*/

.debug-in {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -21;
    height: 100vh;
    .debug(rgba(0, 0, 0, .1), 1px solid #ff0)
}

html {
    .regular;
    font-size: 16px;
    width: 100%;
}

body {
    font-family: "SF UI Display", sans-serif;
    font-size: 13px;
    color: @black;
    //background-color: @white;
    position: relative;
    &.tpl {
        * {
            background-color: transparent;
        }

        &:before {
            content: '';
            z-index:-1;
            position:absolute;
            display: block;
            left:0;
            top:0;
            width: 100%;
            height: 17000px;
            background: url("../_sk/карточка-товара.jpg") no-repeat center -11px; // -1099 52 -20px 21px
            opacity:0.4;

        }


        //background-size: 1920px auto;



    }
}

.row {
    .row-flex();

    &.end {
        justify-content: flex-end;
    }
}

main {
    width: 100%;
}

div {
    box-sizing: border-box;
}

section, header, footer, main, .container {
    box-sizing: border-box;
    width: 100%;

    > div {
        .wrapper();

        > div {
            .row-flex();
        }
    }
}

header {
    background-color: @white;
    box-shadow: 0 1px 4px #a8a5a3;
    z-index: 1000;
    position: relative;
}

.header {
    //background: #567;
    height: 66px;
    display: flex;
    align-items: center;

    &-logo {
        .col();
        width: 165px;
        display: flex;
        align-items: center;
    }

    &-search {
        display: block;
        width: 300px;
        height: 38px;
        position: relative;
        margin-left: 31px;
        background: url('../img/loupe.png') no-repeat 16px center;
        background-size: 16px;
        .lite;

        input {
            width: 100%;
            height: 36px;
            font-size: 16px;

            border-radius: 3px;
            border: 1px solid #d8d7d7;
            outline: none;
            -webkit-transition: width .6s ease-in-out;
            transition: width .6s ease-in-out;
            text-indent: 47px;
        }

        &_box {
            position: absolute;
            padding-top: 23px;
            background: url("../img/i-corner-top.svg") no-repeat 14px 8px;
            background-size: 20px;
            z-index: 1;
        }

        &_items {
            padding: 20px 30px;
            background-color: @white;
            box-shadow: 0 6px 20px 6px rgba(50, 50, 50, 0.15);
        }

        &_item {
            height: 40px;
            display: flex;

            div {
                height: 32px;
                width: 32px;
                align-self: center;
                text-align: center;
                margin-right: 9px;

                img {
                    height: 100%;
                }
            }

            span {
                font-size: 16px;
                align-self: center;
                white-space: nowrap;
                color: @light-text;
            }

            &:hover {
                span {
                    text-decoration: underline;
                }
            }
        }
    }

}

.menu {
    display: flex;
    align-items: center;
    height: 62px;

    &-link {
        position: relative;

        > a {
            position: relative;
            margin-right: 11px;
            font-size: 16px;
            display: inline-flex;
            align-items: center;
            height: 28px;

            img {
                height: 28px;
                width: auto;
                margin-left: 5px;
            }
        }

        a {
            color: @black-heading;
            font-size: 16px;


        }

        span {
            margin-right: 1px;
        }


        &_header {
            display: flex;

            &Item {
                margin-right: 44px;

                > a {
                    display: block;
                    margin-bottom: 14px;
                    font-size: 18px;
                }

                a {
                    font-size: 16px;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                ul {
                    li {
                        white-space: nowrap;
                        .lite;
                        font-size: 16px;
                        margin-bottom: 14px;
                        //letter-spacing: -.4px;
                    }
                }
            }
        }

        &_withIcon {
            //display: none;
            display: flex;
            margin-top: 6px;

            a {
                display: inline-flex;
                height: 70px;
                align-items: center;
                background: @bg-body;

                &:first-of-type {
                    margin-right: 20px;
                }

                span {
                    display: inline-block;
                    width: 55px;
                    height: 100%;

                    img {
                        height: 100%;
                    }

                }

                p {
                    box-sizing: border-box;
                    width: 265px;
                    padding: 0 16px;
                }

                &:hover {
                    p {
                        text-decoration: underline;
                    }
                }
            }
        }

        &_footer {
            margin-top: 22px;

            a {
                font-size: 14px;

                &:hover {
                    color: @attention;
                    text-decoration: underline;
                }

            }
        }


        &_helper {

            padding-top: 31px;
            display: none;
            position: absolute;
            top: 20px;
            left: 0px;
        }

        &_submenu {

            padding: 36px 36px 14px 36px;
            background: @white;

            box-shadow: 0 6px 20px 6px rgba(50, 50, 50, .15);


        }

        &:hover {
            .menu-link_helper {
                display: block;

            }

            > a {
                text-decoration: underline;
            }

            &:after {
                content: '';
                display: block;
                width: 15px;
                height: 15px;
                position: absolute;
                bottom: -24px;
                left: 50%;
                z-index: 20;
                background: url("../img/i-corner-top.svg") no-repeat left 0px;
            }
        }


    }
}

.topLists {
    background-color: #ebebeb;
    &-rows {
        padding: 38px 0 56px;
    }

    &-row {
        .col();
        .size(48);

        &_heading {
            color: #1e1e1e;
            font-size: 30px;
            font-weight: 300;
            letter-spacing: -1.5px;

            margin: 16px 0 36px;

            a {
                color: inherit;

                &:hover {
                    text-decoration: underline;
                    color: #c22529;
                }
            }
        }

        &_items {
            display: flex;
            justify-content: space-around;
        }

        &_item {
            display: flex;
            align-items: center;
            color: @black;

            span {
            }

            p {
                font-size: 16px;
                max-width: 140px;
                margin-left: 16px;
            }

            &:hover {
                color: @maroon;
            }
        }
    }
}

footer {
    background: @bg-footer;

    .footer {
        padding: 32px 0 20px;
        justify-content: space-between;

        &-menu {
            min-width: 460px;
            display: flex;
            justify-content: space-between;
            ul {
                display: inline-block;
                li {
                    color: #1e1e1e;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: -0.7px;
                }

                a {
                    font-size: 14px;
                    color: @black;

                    &:hover {
                        color: @maroon;
                    }
                }
            }
        }


        &-soc {
            .col();
            li {
                display: inline-block;
                margin-right: 16px;
            }

        }

        &-apps {
            .col();
            text-align: right;
            &-row {
                display: inline-block;
                text-align: left;
                span {
                    color: #1e1e1e;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 24px;
                }
                ul {
                    display: block;
                    text-align: left;
                    li {
                        display: inline-block;
                        margin-right: 10px;
                    }
                }
            }


        }
    }
}









.rating-row {
    //height: 100%;
    display: flex;
    align-items: center;
    margin-left: 5px;
    font-size: 13px;
    color: @black;

    &_rating {
        margin-left: 5px;
        //display: inline-flex;

    }

    em {


    }

    &_score {
        .bold;
        margin-left: 5px;
        margin-right: 5px;
    }
}

.searchItems {
    width: 100%;
    text-indent: 26px;
    border-bottom: 1px solid @border;
    background: url("../img/search-pool.svg") no-repeat left 0px;
    background-size: 15px;
    font-size: 13px;
    margin-bottom: 10px;
}

.search_pool {

}



.lightBox {
    text-align: center;

    h2 {
        color: @black;
        font-size: 17px;
        .bold;

    }

    &-seller {
        border: 1px solid @border;
        padding: 16px;
        display: flex;
        box-sizing: border-box;
        justify-content: space-between;
        align-items: center;
        border-radius: 6px;
        text-align: left;
        margin-top: 8px;

        &_desc {
            display: flex;
            align-items: center;


            &Logo {
                width: 60px;
                height: 60px;
                box-sizing: border-box;

                border-radius: 6px;
                box-shadow: 0 0 15px 0 rgba(50, 50, 50, .15);
                background-size: contain;
                min-width: 60px;
                margin-right: 16px;
                border: 1px solid @border;

            }

            &Text {
                display: inline-flex;
                flex-direction: column;
                justify-content: space-between;
                min-height: 50px;
            }

            &Name {
                font-size: 13px;
                color: @light-text;
            }

            &Features {
                font-size: 11px;
                color: @light-text;
            }

            &Based {
                font-size: 11px;
                color: @light-light;

                i {
                    width: 15px;
                    height: 15px;
                    display: inline-block;
                    margin-right: 8px;
                    margin-top: -3px;
                    border-radius: 15px;
                    overflow: hidden;

                    img {
                        width: 15px;
                    }
                }
            }
        }

        &_price {
            a {
                width: 100px;
            }
        }
    }

}








.taste-table {
    width: 100%;
    margin: 12px 0 42px;
    &_row {
        display: table-row;
        align-items: center;
        height: 40px;
    }

    &_col {
        display: table-cell;
        font-size: 16px;
        text-align: left;

        &:nth-of-type(1) {
            max-width: 90px !important;
            border-right: 10px solid transparent;
        }

        &:nth-of-type(3) {
            max-width: 110px !important;
            border-left: 10px solid transparent;
            text-align: left;
        }

        &:nth-of-type(2) {
            width: 100%!important;
        }
    }

    &_slider {
        height: 8px;
        border-radius: 8px;
        background: #f7f3f0;
        position: relative;
        width: 100%;
    }

    &_thumb {
        position: absolute;
        z-index: 1;
        height: 18px;
        border-radius: 3px;
        background-color: #a61a30;
        top: -5px;
    }
}



.flavours {
    width: 100%;
    padding-top: 32px;
    background: @white;

    &-row {
        margin: 0;
    }

    &-head {
        margin-bottom: 8px;

        h2 {
            font-size: 16px;
            .bold;
            color: @black;
        }

    }


    &-list {
        padding-top: 12px;
        padding-bottom: 12px;
        width: 100%;
        position: relative;
        overflow: hidden;
        .carousel(3, 3, 3, 2, 1);
    }

    &-wrapper {
        margin-top: -6px;
        width: 100%;
        position: relative;
    }

    &-items {
    }

    &-item {
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        flex-flow: column;

        a {
            display: block;
            box-shadow: 0 3px 6px 0.3px rgba(0, 0, 0, 0.14);
            border-radius: 8px;
            overflow: hidden;
            background: @white;
            border: 1px solid @border;

        }

        &_header {
            height: 124px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &_footer {
            height: 76px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            span {
                display: inline-block;
                font-size: 20px;
                color: @black;
            }

            p {
                display: block;
                font-size: 16px;
                color: @light-text;
            }

        }
    }

    &-toggle {
        position: absolute;
        top: 50%;
        z-index: 2000;
        border: none;
        text-indent: -9999px;
        overflow: hidden;
        cursor: pointer;
        display: block;
        width: 50px;
        height: 50px;
        background-size: 15px 15px !important;
        margin-top: -25px;
        box-shadow: 0 4px 20px 0 rgba(66, 66, 66, .2);
        border-radius: 50px;

        &:first-of-type {
            left: -25px;
            background: url("../img/i-left.svg") no-repeat center center @white;
            transform: rotate(180deg);
        }

        &:last-of-type {
            right: -25px;
            background: url("../img/i-right.svg") no-repeat center center @white;
        }
    }
}



.toc {
    margin-top: 200px;

    &-menu {
        .col();
        .size(48);
    }

    &-item {
        margin: 25px 0;

        a {
            font-size: 20px;
            color: @black;

            &:hover {
                color: @maroon;
            }
        }
    }
}








